<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Update form</title>
</head>
	<body>
	
	<h3 style="color: red">Update Room</h3>
	
	<form method="post" th:action="@{/rooms/update}" th:object="${room}">
		<table style="text-align: right">
			<tr>
				<td align="right">ID:</td>
				<td><input type="text" th:field="*{roomId}" th:value="${room.roomId}" readonly></td>
			</tr>
			<tr>
				<td align="right">Name:</td>
				<td> <input type="text" th:field="*{roomName}" th:value="${room.roomName}"> </td>
			</tr>
			<tr>
				<td align="right">Acreage:</td>
				<td> <input type="text" th:field="*{roomAcreage}" th:value="${room.roomAcreage}"> </td>
			</tr>
			<tr>
				<td align="right">Type:</td>
			</tr>
			<tr>
				<td align="right"></td>
				<td>
					<div th:each="type : ${roomType}">
						<input style="right: initial" type="radio" name="type" th:value="${type}" th:field="*{roomType}"/>
						<span th:text="${type}">ROOM TYPE</span>
						<br/>
					</div>
				</td>
			</tr>
			<tr>
				<td align="right"></td>
				<td align="right"> <button>update room</button> </td>
			</tr>
		</table>
	</form>
	</body>
</html>